<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alien_probe_doctor.name %>
</p>

<%= link_to 'Edit', edit_alien_probe_doctor_path(@alien_probe_doctor) %> |
<%= link_to 'Back', alien_probe_doctors_path %><br>
- - - - - - - - - - - - -<br>
<p>
  <strong>Abductee patients for this doctor:</strong>

</p>


