<!DOCTYPE html>
<html>
  <head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Email from Contact Us Page</h2>
    <h3>From: <%= @user.name %></h3>
    <h3>User's email: <%= @user.email %></h3>
    <br>
    <%= @user.message %>
  </body>
</html>
