<!DOCTYPE html>
<html>
  <head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Message from: <%= @message.name %></h3>
    <h3>Email: <%= @message.email %></h3>
    <br>
    <%= @message.message %>
  </body>
</html>
