/*
 *= require_tree .
 *= require_self
 */

 copy-heading, span.copy-heading {
  font-family: 'Nunito', sans-serif;
  color: #4f5559;
}

span.copy-heading-18{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

p.font16, div.font16 {
  font-size:16px;
  color: #4f5559;
}

/*------Contact Us form-------*/

.contact-capsule {
  width: 500px;
  height: 600px;
  padding: 10px 20px 20px 20px;
  margin: 15px auto;
  border-radius: 10px;
  border: 1px solid #428bca;
  }

